* {
	margin: 0;
	padding: 0;
}
html, body {border: 0; margin: 0; padding: 0;}
body {
  	line-height: 130%;
  	width: 100%;
  	height:600px;
  	min-width: 970px;
  	font-family: tahoma;
  	margin-bottom:10px;
  	font-size:8.5pt;
  	text-align:center;
}
a {text-decoration:none;}
a img {border: none;/*remove border for linked images*/}
h1 {
	font-size: 3 pt;
	height: 20px;
	padding-top: 0;
}
h2{
	font-size: 3 pt;
	height: 20px;
	padding-top: 0;
}
.highlight {border-bottom:#F30 1px solid;border-top:#F30 1px solid;padding: 4px 10px}
#container {
  	width:100%;
  	text-align: center;/* IE fix to center the page */
    position:relative;
    top:10px;
    clear:both
    display: block;
    margin-left: auto;
    margin-right: auto;
   	height:auto ;
}
.StButton {
	-moz-box-shadow:inset 0px 0px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 0px 0px 0px #97c4fe;
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:41px;
	width:173px;
	text-decoration:none;
	text-align:center;
	text-shadow:8px 5px 0px #1570cd;
	margin-top:15px;
	margin-bottom:20px;
}
.StButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.StButton:active {
	position:relative;
	top:1px;
}
#container img#webosasim
{
	position:fixed;
	top:-20px;
	right:15px;
	z-index:800;
	float:right;
	display:inline;
}
#content {
  	width: 740px;
  	margin: 0 auto;/* center the page in Firefox */
  	text-align: left;
	padding: 20px;
	display:inline-block;
}
/***** search datatable textbox *****/
input:not([type='radio']){
	border:none;
	padding:0 7px 0 7px;
	border-radius:15px;
	-webkit-border-radius: 15px;
	max-width:100px;
	text-align:center;
	width:100px;
	margin-left:8px;
}
input:not([type='radio']):focus{
	outline: none;
	width:100px;
}
/************************************/
#mainContent
{
	min-height:600px;
	/*background:white;*/
	width:1250px;
	width:100%;
	display:inline-block;
	padding:0;
}
select
{
	width:80px;
	margin-top:-2px;
	border:none;
}
#mainContent div.table
{
	display:block;
	width: 510px;
	min-height: 400px;
	overflow: hidden;
	margin: 40px auto;
	/*
	position: relative;
	float:left;
	*/
	/*padding:0 40px 40px 280px;*/
	padding:0 40px 40px 40px;
}
#mainContent div#about
{
	width: 470px;
	height: 530px;
	overflow: hidden;
	margin: 40px 40px 40px 120px;
	/*position: relative;
	float:left;*/
	display:block;
}
#mainContent div#about img {
	float: center;
	margin: 0 auto;
	display:inline-block;
	padding-top:30px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
	zoom: 1;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out; 
	transition: all 2s ease-in-out;	
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
#mainContent div#about h1 {
	font-size: 10 pt;
	text-align: center;
	text-shadow: #000 1px 1px 2px;
	padding:0px 30px 0 0;
	text-align:right;
}
#mainContent div#about p {
	font-size: 9.5pt;
	margin: 20px;
	font-weight: normal;
	line-height: 22px;
	text-shadow: #000 1px 1px 2px;
	padding:0px 10px 0 0;
	display:block;
	text-align:center;
}
.radioDivRtl{float:right;}
.radioDivLtr{float:left;}
.radio_btmRtl{float:right;}
.algoRadioLabelRtl{float:left;}
.radio_btmLtr{float:left;}
.algoRadioLabelLtr{float:right;}