#mainContent div.ganttContainer {
	display:block;
	width: 510px;
	overflow: hidden;
	margin: 0 auto;
	padding:0;
	margin-top:-70px;
}
#mainContent div.resultBox
{
	display:block;
	float:center;
	width:250px;
	min-height:80px;
	margin: 35px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    padding: 10px;
    z-index: 6;
    direction:rtl;
    line-height:200%;
    padding-bottom:0;
}
#mainContent div.ganttContainer div.gantt {
	width: 510px;
	height: 170px;
	margin: 0;
	border: 4px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:0px;
    position: relative;
    display:block;
}
#mainContent div.gantt:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.fn-gantt {width: 100%;}
.fn-gantt .fn-content {
	overflow: hidden;
	width: 100%;
}
/* left panel */
.fn-gantt .leftPanel {
	float: left;
	width: 80px;
	overflow: hidden;
	border-right: 1px solid #DDD;
}
.fn-gantt .row {
	float: left;
	height: 24px;
	line-height: 24px;
}
.fn-gantt .leftPanel .label {margin: 0 0 0 5px;}
.fn-gantt .leftPanel .id, .fn-gantt .leftPanel .name {
	float: left;
	height: 23px;
	margin: 0;
}
.fn-gantt .leftPanel .id {width: 20px;}
.fn-gantt .leftPanel .name {width: 60px;}
.fn-gantt .spacer {margin: -2px 0 1px 0;}
/* right panel */
.fn-gantt .rightPanel {
	float: left;
	width: 420px;
	overflow: hidden;
}
.fn-gantt .day {
	overflow: visible;
	width: 24px;
	line-height: 24px;
	text-align: center;
	margin: -1px 0 0 -1px;
	height: 25px;
}
.fn-gantt .gray {
	overflow: visible;
	width: 24px;
	line-height: 24px;
	text-align: center;
	margin: -1px 0 0 -1px;
	height: 25px;
	background-color:#CCCCCC;
}
.fn-gantt-hint {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    padding: 10px;
	position: absolute;
	display: none;
    z-index: 6;
    direction:rtl;
    line-height:200%;
}
.fn-gantt .bar {
	border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 18px;
    margin: -20px 3px 3px 3px;
    position: relative;
    z-index: 3;
    color:black;
    font-weight:bold;
    line-height:150%;
}
.fn-gantt .ganttRed {
	background-color: #8F0000;
}

.fn-gantt .ganttGreen {
	background-color: #b3cf6f;
}

.fn-gantt .ganttOrange {
	background-color: #ff7e24;
}
/* bottom (navigation) */
.fn-gantt .bottom {
	clear: both;
	width: 100%;
}
.fn-gantt .navigate {
	text-align: center;
}
.fn-gantt .navigate .page-number {
	display: inline-block;
	font-size: 8.5pt;
	height: 20px;
}
.fn-gantt .navigate .page-number span {
	margin: 5px;
	position: relative;
	top: 8px;
}
.fn-gantt .navigate a:link, .fn-gantt .navigate a:visited, .fn-gantt .navigate a:active {text-decoration: none;}
.fn-gantt .nav-link {
	margin: 0px 0px 8px 0px;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0px;
}
.fn-gantt .navigate .nav-page-back {
	background-image: url(../images/buttons.png);
	background-position: 0 0;
}
.fn-gantt .navigate .nav-page-next {
	background-image: url(../images/buttons.png);
	background-position: -50px 0;
	margin-right: 15px;
}
.fn-gantt .navigate .nav-page-back:hover {background-position: 0 -20px;}
.fn-gantt .navigate .nav-page-next:hover {background-position: -50px -20px;}
.fn-gantt .navigate .nav-begin {
	background-image: url(../images/buttons.png);
	background-position: -70px 0;
}
.fn-gantt .navigate .nav-prev-week {
	background-image: url(../images/buttons.png);
	background-position: -90px 0;
}
.fn-gantt .navigate .nav-prev-day {
	background-image: url(../images/buttons.png);
	background-position: -110px 0;
}
.fn-gantt .navigate .nav-next-day {
	background-image: url(../images/buttons.png);
	background-position: -130px 0;
}
.fn-gantt .navigate .nav-next-week {
	background-image: url(../images/buttons.png);
	background-position: -150px 0;
}
.fn-gantt .navigate .nav-end {
	background-image: url(../images/buttons.png);
	background-position: -170px 0;
}
.fn-gantt .navigate .nav-begin:hover {background-position: -70px -20px;}
.fn-gantt .navigate .nav-prev-week:hover {background-position: -90px -20px;}
.fn-gantt .navigate .nav-prev-day:hover {background-position: -110px -20px;}
.fn-gantt .navigate .nav-next-day:hover {background-position: -130px -20px;}
.fn-gantt .navigate .nav-next-week:hover {background-position: -150px -20px;}
.fn-gantt .navigate .nav-end:hover {background-position: -170px -20px;}